---
- name: "ROCKY | Enable crb repository"
  ansible.builtin.dnf:
    name: perl-IPC-Run
    enablerepo: crb
    state: present
  when:
    - ansible_distribution == "Rocky" and ansible_distribution_major_version >= "8"
    - textfile_exporters_install_requirements

- name: "ORACLELINUX9 | Enable codeready-builder repository"
  ansible.builtin.dnf:
    name: perl-IPC-Run
    enablerepo: ol9_codeready_builder
    state: present
  when:
    - ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "9"
    - textfile_exporters_install_requirements

- name: "ORACLELINUX8 | Enable epel gpg key"
  ansible.builtin.rpm_key:
    state: present
    key: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-8"
  when:
    - ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "8"
    - textfile_exporters_install_requirements

- name: "ORACLELINUX8 | Enable codeready-builder repository"
  ansible.builtin.dnf:
    name:
      - https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
      - perl-IPC-Run
      - moreutils
    state: present
    enablerepo: "ol8_codeready_builder,ol8_developer_EPEL"
  when:
    - ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "8"
    - textfile_exporters_install_requirements

- name: "Install requirements"
  ansible.builtin.package:
    name: "{{ __textfile_exporters_requirements }}"
    state: present
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  when: textfile_exporters_install_requirements

- name: "Create textfile scripts directory"
  ansible.builtin.file:
    path: "{{ textfile_exporters_install }}"
    state: directory
    mode: "0755"

- name: "Deploy scripts tasks"
  ansible.builtin.include_tasks: deploy_scripts.yml
  with_items:
    - "{{ textfile_exporters_urls }}"

- name: "Add custom lines in script"
  ansible.builtin.blockinfile:
    path: "{{ item.name }}"
    marker: "{{ item.marker | default(['### ANSIBLE BLOCK']) }}"
    insertafter: "{{ item.after }}"
    block: |
      {{ item.content }}
  loop: "{{ textfile_exporters_content | default([]) }}"
  when: textfile_exporters_content is defined and textfile_exporters_content | length > 0

- name: "Install cron jobs"
  ansible.builtin.cron:
    cron_file: "{{ item.cron_file | d(omit) }}"
    day: "{{ item.day | d(omit) }}"
    hour: "{{ item.hour | d(omit) }}"
    job: "{{ item.job }}"
    minute: "{{ item.minute | d(omit) }}"
    month: "{{ item.month | d(omit) }}"
    name: "{{ item.name }}"
    special_time: "{{ item.special_time | d(omit) }}"
    state: present
    user: "{{ item.user | d(omit) }}"
    weekday: "{{ item.weekday | d(omit) }}"
  loop: "{{ textfile_exporter_cron }}"
  loop_control:
    label: "{{ item.name }}"
